
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

.main{
    width: 100%;
    height: 100%;
    background: #ffffff;
    max-width: 1400px;
    margin: 0 auto;
}

.logo{
    float: left;
    width: 50px;
    padding: 10px 0;
}

.logo img{
    float: left;
    width: 50px;
    margin-top: -15px;
    margin-left: 48px;
}

nav{
    float: right;
}

nav ul{
    margin: 0px;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #131B23;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

nav ul li a:hover{
    background-color: #131B23;
    color: #ffffff;
}

nav ul li.active a{
    background-color: #ffffff;
    color: rgb(105, 204, 183);
}

footer{
 
    position: relative;
			margin-top: -100px;
			height: 25;
		
			clear: both;
    
}

footer p{
    text-align: center;
}

/* Home
------------------------------------*/
.Home-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h1{
    color: #131B23;
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
}

.title-home h1{
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
}

.picture{
    width: 50%;
}

.picture img{
    width:100%;
    margin-top:-0;
    padding-left: 50px;

}

.social-icons{
    left: 95%;
    top: 80%;
    position: fixed;
    width: 40px;
    height: 40px;
}

.social-icons img{
    width: 40px;

}

.amp {
    font-family:Garamond,Baskerville,Georgia,serif !important;
    font-style:italic;
    font-weight:normal;
    border: none;
}

a.polaroid {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 10px 20px 10px;
    width: 150px;
    border: 1px solid #BFBFBF;
    background-color: white;
    z-index: 2;
    font-size: 0.7em;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -webkit-transition: -webkit-transform 0.5s ease-in;
}
a.polaroid:hover,
a.polaroid:focus,
a.polaroid:active {
    z-index: 999;
    border-color: #6A6A6A;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
.polaroid img {
    margin: 0 0 15px;
    width: 150px;
    height: 150px;
}

a img {
    border: none;
    display: block;
}

.photo-album {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 450px;
    margin-top:160px;
}

.photo-album .polaroid {
    position: absolute;
}
.photo-album h1 {
    position: absolute;
    z-index: 5;
    top: 150px;
    text-align: center;
    width: 100%;
    line-height: 1.9;
}
.photo-album h1 span {
    background-color: white;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    padding: 0.4em 0.8em 0.3em 0.8em;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    border: 1px solid #6A6A6A;
}
.photo-album .small {
    width: 75px;
    padding: 6px 6px 12px 6px;
    font-size: 0.6em;
}
.photo-album .small img {
    width: 75px;
    height: 75px;
}
.photo-album .medium {
    width: 200px;
    padding: 13px 13px 26px 13px;
    font-size: 0.8em;
}
.photo-album .medium img {
    width: 200px;
    height: 200px;
}
.photo-album .large {
    width: 300px;
    padding: 20px 20px 30px 20px;
    font-size: 1em;
}
.photo-album .large img {
    width: 300px;
    height: 300px;
}
.photo-album .img1 {
    bottom: 10px;
    right: 365px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}
.photo-album .img2 {
    top: 50px;
    right: 20px;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.photo-album .img3 {
    left: 400px;
    top: 0;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.photo-album .img4 {
    top: 10px;
    left: 495px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.photo-album .img5 {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
}
.photo-album .img6 {
    bottom: 10px;
    right: 156px;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
}
.photo-album .img7 {
    bottom:0;
    left:400px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.photo-album .img8 {
    bottom: -20px;
    left: 700px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.photo-album .img9 {
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.photo-album .img10 {
    top: 0;
    left: 20px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    transform: rotate(8deg);
}
.photo-album .img11 {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.photo-album .img12 {
    top: 0;
    left: 680px;
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    transform: rotate(18deg);
}
.photo-album .img13 {
    bottom: -20px;
    right: 630px;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}
.photo-album .img14 {
    top: 90px;
    left: 430px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
}
.photo-album .img15 {
    left:176px;
    top:20px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

a:hover,
a:focus {
    z-index: 5;
}

/* About
------------------------------------*/
.banner{
    width: 100%;
    height: 700px;
    color: #131B23;
}

.about-text{
    width: 50%; 
    float: left;
    position: relative;
    top: 250px;
}

.about-text h1{
    font-size: 43px;
    width: 650px;
    position: relative;
    margin-left: 300px;
}


.about-text p{
    width: 650px;
    font-size: 25px;
    margin: 30px 0 30px 40px;
    margin-left: 300px;
    line-height: 25px;
    color: #919191;
}

.about-picture{
    width: 50%;
    float: right;
    position: relative;
    top: 310px;
}

.about-picture img{
    width: 100%;
    height: 50%;
    width: 60%;
    margin-top: -25px;
    padding-left: 250px;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


/* Education
------------------------------------*/
.education{
    width: 50%; 
    float: right;
    position: relative;
    top: 500px;
    padding-left: 50px;
    text-align: right;
}

.education h1{
    font-size: 43px;
    width: 650px;
    position: relative;
}

.education h3{
    font-size: 30px;
    width: 650px;
    position: relative;
}

.education h4{
    font-size: 25px;
    width: 650px;
    position: relative; 
}


.education p{
    width: 650px;
    font-size: 20px;
    margin: 30px 40px 30px 0 ;
    line-height: 25px;
    color: #919191;
}

.education-picture{
    width: 50%;
    float: left;
    position: relative;
    top: 150px;
    
}

.education-picture img{
    width: 100%;
    height: 35%;
    width: 45%;
    margin-top: -215px;
    padding-left: 300px;
}

.rotate360 {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


/* Work
------------------------------------*/
.work{
    width: 50%; 
    float: left;
    position: relative;
    top: 320px;
    padding-left: 200px;
}
.work-text{
    width: 50%; 
    float: left;
    position: relative;
    top: 200px;
}

.work-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 110px;
}

.work-text h3{
    font-size: 30px;
    width: 640px;
    position: relative;
    margin-left: 110px;
}

.work-text h4{
    font-size: 25px;
    width: 640px;
    position: relative;
    margin-left: 110px;
}

.work-text p{
    width: 650px;
    font-size: 20px;
    margin: 30px 0 30px 40px;
    margin-left: 110px;
    line-height: 25px;
    color: #919191;
}



.OL-picture{
    width: 50%;
    float: right;
    position: relative;
    margin-right: -115px;
    margin-top: 135px;
}


.OL-picture img{
    height: 140px;
    width: auto;
    padding-left: 220px;
}

.VEB-picture{
    width: 50%;
    float: right;
    position: relative;
    margin-left: 200px;
}

.VEB-picture img{
    height: 90px;
    width: 400px;
    margin-top: 120px;
    padding-left: 220px;
}



/* Skills
------------------------------------*/
.skills-left{
    width: 50%; 
    position: relative;
    top: 500px;
    padding-left: 310px;
    float: left;
}

.skills-left h1{
    font-size: 43px;
    width: 650px;
    position: relative;
}

.skills-left h3{
    font-size: 30px;
    width: 650px;
    position: relative;
}
.skills-left p{
    width: 650px;
    font-size: 20px;
    margin: 30px 40px 30px 0 ;
    line-height: 25px;
    color: #919191;
}

.skills-right{
    width: 50%; 
    position: relative;
    top: -90px;
    padding-left: 50px;
    float: right;
    text-align: right;
}

.skills-right h3{
    font-size: 30px;
    width: 650px;
    position: relative;
}

.skills-right p{
    width: 650px;
    font-size: 20px;
    margin: 30px 40px 30px 0 ;
    line-height: 25px;
    color: #919191;
}




/* Projects
------------------------------------*/

.projects-section{
    max-width: 100%;
    margin: 0 auto;
    padding: 6% 2%;
}

.projects-grid{
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.projects-grid:after{
    clear: both;
}

.projects-grid:after, .projects-box:before{
    content: "";
    display: table;
}

.projects-grid li{
    width: 600px;
    height: 400px;
    display: inline-block;
    margin: 20px;
}

.projects-box{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 0px;
    -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.projects-box:hover{
    transform: scale(1.05);
}

.projects-img-1{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url(../Images/Exhibition/Exhibition1.jpg);
    background-size: cover;
}

.projects-img-2{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url(../Images/Sweater-back.png);
    background-size: cover;
}

.projects-img-3{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url(../Images/Snapchat-filter.png);
    background-size: cover;
}

.projects-img-4{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url(../Images/Processing.png);
    background-size: cover;
}

.projects-info{
    width: inherit;
    height: inherit;
    margin-top: 40px;
} 

.projects-info h3{
    font-family:'Bebas Neue', cursive;
    font-weight: 400;
    color: #ffffff;
    font-size: 42px;
    margin: 0 30px;
    padding: 100px 0 0 0;
    line-height: 1.5;
}

.projects-info p{
    font-family:'Bebas Neue', cursive;
    color: #ffffff;
    padding: 4px 5px;
    margin: 0 30px;
    font-size: 20px;
    line-height: 2px;
}

/* Artworks
------------------------------------*/
.exhibition-title h1{
        font-size: 43px;
        width: 100%;
        position: relative;
        top: 100px;
        margin-left: 785px;
}

.exhibition { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-top: 100px;
    margin-left: 300px;
    }

.exhibition img {
    width: 250px;
}

.exhibition-text{
    width: 100%; 
    position: relative;
    margin-left: 310px;
}

.exhibition-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.exhibition-text p{
    width: 100%;
    font-size: 25px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
    
}

.artworks-title h1{
    font-size: 43px;
    width: 100%;
    position: relative;
    margin-left: 886px;
}

.artworks { 
display: grid; 
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
margin-left: 140px;
}

.artworks img {
width: 300px;
}



/* Sweaters
------------------------------------*/

.sweaters-text{
    width: 100%; 
    position: relative;
    top: 250px;
    margin-left: 310px;
}

.sweaters-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.sweaters-text p{
    width: 100%;
    font-size: 20px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
}

.sweaters-picture{
    width: 50%;
    position: relative;
    margin-left: 25%;
    top: 300px;
}

.sweaters-picture img{
    width: 100%;
    height: 140%;
    width: 150%;
    margin-top: -20px;
   margin-left: -220px;
}


/* Snapchat
------------------------------------*/

.snapchat-text{
    width: 100%; 
    position: relative;
    top: 250px;
    margin-left: 310px;
}

.snapchat-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.snapchat-text p{
    width: 100%;
    font-size: 20px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
    
}

.snapchat-picture{
    width: 50%;
    position: relative;
    margin-left: 25%;
    top: 300px;
    
}

.snapchat-picture img{
    width: 100%;
    height: 100%;
    width: 110%;
    margin-top: -20px;
    margin-left: -300px;
    float: left;
}

.snapchat-picture1{
    width: 50%;
    position: relative;
    margin-left: 50%;
    top: 300px;
}

.snapchat-picture1 img{
    width: 45%;
    height: 100%;
    margin-top: -8px;
    padding-right: 20%;
    float: right;
}


/* Processing
------------------------------------*/

.processing-textL{
    width: 50%; 
    position: relative;
    top: 250px;
    margin-left: 310px;
    float: left;
}

.processing-textL h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.processing-textL p{
    width: 100%;
    font-size: 20px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;   
}

.processing-textR{
    width: 50%; 
    position: relative;
    top: 250px;
    margin-left: 200px;
    float: right;
    text-align: right;
}

.processing-textR h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.processing-textR p{
    width: 650px;
    font-size: 20px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;   
}

.processing2-picture{
    width: 50%;
    float: right;
    position: relative;
}

.processing2-picture img{
    width: 100%;
    height: 50%;
    width: 60%;
    padding-left: 150px;
    margin-top: 150px;
}

.processing3-picture{
    width: 50%;
    float: left;
    position: relative;
}

.processing3-picture img{
    width: 100%;
    height: 50%;
    width: 60%;
    padding-left: 300px;
    margin-top: 105px;
}

.processing4-picture{
    width: 50%;
    float: right;
    position: relative;
}

.processing4-picture img{
    width: 100%;
    height: 50%;
    width: 60%;
    padding-left: 150px;
    margin-top: 130px;
}


/* Contact
------------------------------------*/

.contactL{
    width: 50%;
    float: left;
    position: relative;
    margin-top: 260px;
}

.contactL img{
    height: 200px;
    width: auto;
    padding-left: 400px;
}


.contactR{
    width: 50%;
    float: right;
    position: relative;
    margin-top: 135px;
}


.contactR img{
    height: 200px;
    width: auto;
    padding-left: 400px;
}